.auth-options {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.auth-remember {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.auth-remember-label {
  font-size: 0.9rem;
  color: var(--p-text-muted-color);
  cursor: pointer;
}

.auth-forgot {
  font-size: 0.85rem;
  color: var(--p-primary-color);
  font-weight: 500;
}
